* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/background.jpg");
  background-size: cover; /* fill entire screen */
  background-repeat: no-repeat; /* remove repeat */
  background-position: center; /* center image */
  min-height: 100vh; /* full viewport height */
}

.intro  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.intro h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1px;
}

.intro h1,
.intro p {
  color: #293264;
}

.intro p {
  margin-bottom: 40px;
}

.intro button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: px;
  width: 193px;
}