* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
  background-image: url('/src/assets/background.png'); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  padding: 50px;   
}


 .intro  {
  display: flex;
  justify-content: center;
   align-items: center;
  flex-direction: column;
  margin: 20px auto;
  padding-block: 100px;
}

.intro h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 18px;
}

.intro h1,
.intro p {
  color: #293264;
}

.intro p {
  margin-bottom: 40px;
}

.intro button,
.check-answers-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 8px;
  width: 193px;
}

.quiz-page {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 30px;
}

.question-block {
  border-bottom: 2px solid #DBDEF0;
}

.question-block h2{
  color: #293264;
  font-size: 1.6rem;
  margin-block: 20px;
  font-weight: 600;
}

.options-list {     
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}


.options-list li::before {
  content: none !important;
}

.options-list li {
  display: inline-block;   
  width: fit-content;       
  padding: 8px 16px;       
  color: #293264;
  border: 2px solid #4D5B9E;
  border-radius: 18px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;      
  margin: 4px;
  font-size: 1.1rem;
}
